@inject ILocalizer L
@using Famick.HomeManagement.Core.Interfaces
@using Famick.HomeManagement.Core.DTOs.Products

<div class="mt-4">
    @foreach (var pluginId in SourcePluginIds)
    {
        if (PluginInfoMap.TryGetValue(pluginId, out var info))
        {
            <MudText Typo="Typo.caption" Color="Color.Secondary" Align="Align.Center">
                @L["products.attribution.dataFrom"]
                @if (!string.IsNullOrEmpty(info.AttributionUrl))
                {
                    <MudLink Href="@info.AttributionUrl" Target="_blank" Typo="Typo.caption">@info.DisplayName</MudLink>
                }
                else
                {
                    @info.DisplayName
                }
                @if (!string.IsNullOrEmpty(info.LicenseText))
                {
                    <text> (@info.LicenseText)</text>
                }
                <text>.</text>
                @if (!string.IsNullOrEmpty(info.ProductUrlTemplate) && Barcodes.Count > 0)
                {
                    var barcode = Barcodes.First().Barcode;
                    var productUrl = info.ProductUrlTemplate.Replace("{barcode}", barcode);
                    <text> </text>
                    <MudLink Href="@productUrl" Target="_blank" Typo="Typo.caption">@L["products.attribution.viewProduct"]</MudLink>
                }
            </MudText>
        }
    }
    <MudText Typo="Typo.caption" Color="Color.Secondary" Align="Align.Center" Class="mt-1">
        @L["products.attribution.accuracyDisclaimer"]
    </MudText>
</div>

@code {
    [Parameter]
    public List<string> SourcePluginIds { get; set; } = new();

    [Parameter]
    public Dictionary<string, PluginInfo> PluginInfoMap { get; set; } = new();

    [Parameter]
    public List<ProductBarcodeDto> Barcodes { get; set; } = new();
}
